body {
  font-family: Tahoma, Geneva, sans-serif; }

.header {
  padding: 0; }
  .header .header-top {
    padding: 20px 60px; }
  .header .trademark {
    padding-left: 0; }
  .header .search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #bdc3c7; }
    .header .search-box form {
      width: 100%;
      display: flex;
      justify-content: center; }
    .header .search-box .search-input {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .header .search-box .search-icon {
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: .25rem;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .search-box .search-icon:hover {
        cursor: pointer; }
      .header .search-box .search-icon:focus {
        border-color: #5cb3fd; }
  .header .cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0; }
  .header .menu {
    background-color: #1abc9c;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    padding: 10px 60px; }
    .header .menu .menu-item {
      border-right: 1px solid;
      padding: 0 20px; }
      .header .menu .menu-item:hover {
        cursor: pointer; }
    .header .menu .first {
      padding-left: 0; }
    .header .menu .last {
      border: none;
      padding-right: 0; }

.price {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #bdc3c7; }
  .price .fa-usd {
    font-size: 21px; }

label, p {
  margin: 0; }

.btn {
  padding: 5px 10px; }

.body .common-product-name {
  font-weight: bold;
  font-size: 16px;
  color: #95a5a6;
  display: flex;
  justify-content: center; }
.body .hot-product-section {
  background-image: url("../images/background.png");
  margin: 0 -15px;
  padding: 40px 0;
  color: #fff !important; }
  .body .hot-product-section .btn.btn-outline-primary {
    border-color: #fff;
    border-width: 2px;
    font-weight: bold;
    color: #fff; }
    .body .hot-product-section .btn.btn-outline-primary:hover {
      background-color: transparent;
      border-color: #bdc3c7;
      color: #bdc3c7;
      cursor: pointer; }
  .body .hot-product-section .tab-icon {
    font-size: 10px; }
    .body .hot-product-section .tab-icon .tab {
      margin-right: 10px; }
    .body .hot-product-section .tab-icon .active {
      color: #bdc3c7;
      background-color: transparent; }
  .body .hot-product-section .carousel-inner {
    display: flex;
    justify-content: center; }
    .body .hot-product-section .carousel-inner .carousel-item .image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 325px; }
    .body .hot-product-section .carousel-inner .carousel-item .product-info .name {
      font-weight: bold;
      font-size: 40px; }
    .body .hot-product-section .carousel-inner .carousel-item .product-info .short-description {
      margin: 10px 0; }
  .body .hot-product-section .product {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff; }
.body .random-products-section {
  justify-content: center; }
  .body .random-products-section .products {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .body .random-products-section .products .product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0; }
      .body .random-products-section .products .product .info {
        margin-left: 20px; }
    .body .random-products-section .products .middle {
      border-left: 1px solid #ecf0f1;
      border-right: 1px solid #ecf0f1;
      padding-left: 40px;
      padding-right: 40px;
      margin: 0; }
.body .featured-products .header {
  background-image: url("../images/background.png");
  margin: 0 -15px;
  padding: 10px 60px;
  color: #fff;
  font-weight: bold;
  font-size: 24px; }
.body .featured-products .body {
  padding: 20px 0; }
  .body .featured-products .body .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; }
    .body .featured-products .body .products .block-product {
      width: 236px;
      height: 293px;
      border: 2px solid #ecf0f1;
      border-radius: .25rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 4px solid #2ecc71;
      padding: 40px 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .body .featured-products .body .products .block-product .common-product-name {
        margin: 10px 0; }
    .body .featured-products .body .products .payment {
      display: flex;
      justify-content: center; }
    .body .featured-products .body .products .buy {
      margin-left: 10px; }

.footer {
  background-color: #1abc9c;
  color: #fff; }
  .footer .copyright-section {
    background-color: #16a085;
    margin: 0 -15px;
    display: flex;
    justify-content: center;
    padding: 10px 0; }
  .footer .content-section {
    background-color: #1abc9c; }
  .footer .main-content {
    display: flex;
    justify-content: space-between;
    padding: 0; }
    .footer .main-content .sub-content {
      padding: 20px 10px; }
      .footer .main-content .sub-content .title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px; }

/*# sourceMappingURL=styles.css.map */
