$primary-color: #1abc9c;
$secondary-color: #16a085;
$white-color: #fff;
$clouds-color: #ecf0f1;
$silver-color: #bdc3c7;

.hot-product-section {
  background-image: url('../images/background.png');
  margin: 0 -15px;
  padding: 40px 0;
  color: $white-color !important;

  .btn.btn-outline-primary {
    border-color: $white-color;
    border-width: 2px;
    font-weight: bold;
    color: $white-color;

    &:hover {
      background-color: transparent;
      border-color: $silver-color;
      color: $silver-color;
      cursor: pointer;
    }
  }

  .tab-icon {
    font-size: 10px;

    .tab {
      margin-right: 10px;
    }

    .active {
      color: $silver-color;
      background-color: transparent;
    }
  }

  .carousel-inner {
    display: flex;
    justify-content: center;

    .carousel-item {

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 325px;

        img {
          max-width: 100%;            
        }
      }

      .product-info {
        padding-right: 0;

        .name {
          font-weight: bold;
          font-size: 40px;
        }

        .short-description {
          margin: 10px 0;
        }
      }
    }
  }

  .product {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    color: $white-color;
  }
}