$primary-color: #1abc9c;
$secondary-color: #16a085;
$white-color: #fff;
$clouds-color: #ecf0f1;
$silver-color: #bdc3c7;

 .random-products-section {
  justify-content: center;

  .products {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .product {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        max-width: 100%;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center; 
      }
    }

    .middle {
      border-left: 1px solid $clouds-color;
      border-right: 1px solid $clouds-color;
      margin: 0;
    }
  }
}