.header {
  padding: 0; }
  .header .header-top {
    padding: 20px 60px; }
    @media (max-width: 576px) {
      .header .header-top {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 900px) {
      .header .header-top {
        padding-left: 20px;
        padding-right: 20px; } }
  .header .trademark {
    padding-left: 0; }
  .header .search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #bdc3c7; }
    @media (max-width: 670px) {
      .header .search-box {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .header .search-box form {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .header .search-box .search-input {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
      @media (max-width: 567px) {
        .header .search-box .search-input {
          display: none; } }
    .header .search-box .search-icon {
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: .25rem;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .search-box .search-icon:hover {
        cursor: pointer; }
      .header .search-box .search-icon:focus {
        border-color: #5cb3fd; }
      @media (max-width: 800px) {
        .header .search-box .search-icon {
          font-size: 18px; } }
    @media (max-width: 460px) {
      .header .search-box {
        display: none; } }
  .header .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0; }
    @media (max-width: 823px) {
      .header .cart {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    .header .cart .cart-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .header .sidebar-section {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .sidebar-section .fa-bars {
      color: #1abc9c; }
    @media (max-width: 823px) {
      .header .sidebar-section {
        display: block; } }
  .header .header-footer {
    position: relative;
    background-color: #1abc9c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-weight: bold; }
    @media (max-width: 823px) {
      .header .header-footer {
        display: none; } }
    @media (max-width: 1100px) {
      .header .header-footer {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 10px 20px;
        font-size: 12px; } }
    @media (min-width: 1100px) {
      .header .header-footer {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px 60px; } }
    .header .header-footer .menu-icon {
      font-size: 30px; }
      .header .header-footer .menu-icon:focus {
        color: red; }
    .header .header-footer .menu-item {
      border-right: 1px solid;
      padding: 0 20px; }
      .header .header-footer .menu-item:hover {
        cursor: pointer; }
      @media (max-width: 1200px) {
        .header .header-footer .menu-item {
          padding: 0 10px; } }
    .header .header-footer .first {
      padding-left: 0; }
    .header .header-footer .last {
      border: none;
      padding-right: 0; }

/*# sourceMappingURL=headerStyle.css.map */