$primary-color: #23D8C0;
$secondary-color: #00AF9A;
$white-color: #fff;
$clouds-color: #ecf0f1;
$silver-color: #bdc3c7;

.sidebar {
  position: absolute;
  top: 0;
  z-index: 99999999;
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 0;

  .menu-item {
    padding: 10px 40px;
    font-size: 25px;

    &:hover {
      background-color: red;
    }
  }
}